@import "./sample/sampleView.css";
@import "./base/browser/secondary/splitView/splitView.css";
@import "./base/browser/basic/sash/sash.css";
@import "./base/browser/basic/scrollbar/scrollbar.css";
@import "./base/browser/secondary/listView/listView.css";
@import "./base/browser/secondary/scrollableWidget/scrollableWidget.css";
@import "./base/browser/secondary/splitView/splitView.css";

body {
    cursor: default;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 10pt;
    background-color: white;
    font-family: 'Microsoft Yahei', '微软雅黑', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕', 'Nanum Barun Gothic', '맑은고딕', 'Malgun Gothic', sans-serif;
}

.container, .list-widget-container {
    position: absolute;

    height: 100%;
    width: 100%;

    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

/* test purpose */

.list-view-row:hover {
    opacity: 70%;
}

.test-node-number {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    font-weight: bold;
    font-size: 30px;
    user-select: none;
    text-align: center;
}

.list-view-container .focused > .test-node-number {
    color: white;
}

.list-view-container .selected {
    opacity: 70%;
}

.test-class {
    position: absolute;
    background-color: black;
    left: 400px;
    top: 400px;

    width: 50px;
    height: 50px;
}
