
@import "./base/browser/basic/sash/sash.css";
@import "./base/browser/basic/scrollbar/scrollbar.css";
@import "./base/browser/secondary/listView/listView.css";
@import "./base/browser/secondary/scrollableWidget/scrollableWidget.css";

body {
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    background-color: white;
    font-family: 'Microsoft Yahei', '微软雅黑', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕', 'Nanum Barun Gothic', '맑은고딕', 'Malgun Gothic', sans-serif;
}


.container {
    position: absolute;

    width: 300px;
    height: 100%;

    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

/* test purpose */

.list-view-row {
    /* border-bottom: 1px solid rgb(196, 196, 196); */
}

.list-view-row:hover {
    opacity: 70%;
}

.test-node-number {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    font-weight: bold;
    font-size: 30px;
    user-select: none;
    text-align: center;
}

.list-view-container .focused {
    border: 1px solid rgb(197, 160, 160);
}
.list-view-container .focused > .test-node-number {
    
}

.list-view-container .selected {
    border: 1px solid rgb(160, 233, 255);
    opacity: 80%;
}
.list-view-container .selected > .test-node-number {
    
}
